# Node modules
node_modules/
frontend/node_modules/
backend-node/node_modules/

# Build output
frontend/dist/
backend-node/dist/

# Logs
*.log

# Env files
.env
backend-node/.env
frontend/.env
backend-node/src/testCita.js
# IDE files
.vscode/
.DS_Store
# backend-node/


